h2 {
  color: lime;
  background-color: black;
  text-align: center;
  padding: 10px;
  transition: all 0.5s ease;  /* efek transisi */
}

h2:hover {
  color: black;
  background-color: lime;
}

p {
  color: rgb(252, 0, 0);
  font-size: 18px;
  transition: color 0.5s ease; /* transisi khusus warna */
}

p:hover {
  color: black;
}
